html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #545454;
    min-width: 800px;
    align-content: center;
  
}

body {
    width: 80%;

}

.banner-image{
    position: relative;
    justify-content: center;
    transform: translate(20px);
    padding-left: 20px;
    height: 180px;
    max-width: 1000px;
    min-width: 900px;
    overflow: visible;
    background: url(images/banner.png) repeat center;
    background-size: contain;
    background-color: #737373;
    margin-left: 10%;
}
main{
    background-color:#545454;
    padding: 0px 20px;
    margin-top: -20px;
    
}

header nav {
    position: absolute;
    bottom: -35px; 
    left: 8%;

}
head {
    background-color: #535353;
    margin-bottom: -20px;


}



header nav a  {
    width: 70px;
    display: inline-block;
    margin: 5% 2px;
    padding: 10px 3px;
    padding-bottom: 1px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: #9696fd;
    border-radius: 20px 20px 0px 0;

}
header nav a:hover{
    background-color: #F0EFEC;
}


.article-link:hover {
    background-color: #fdfdaf;
}

.blog-link:hover {
    background-color: #9696fd;
}

.music-link:hover {
    background-color: #BF4F49;
}

.connect-link:hover {
    background-color: #D2691E
}

header nav a:hover{
    background-color: #F0EFEC;
}

/*light panel has curved edges at the top/ for placement on left side of screen */
body main .light-panel  {
    background-color: #9696fd;
    min-width: 630px;
    color: #292929; 
    border-radius: 20px 20px 0px 0;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;

}


/*light panel has flat edges at the top/ for placement on left side of screen */

body main .light-panel2  {
    background-color: #a6a6a6;
    color: #292929;
    margin-top: -10px;
    padding: 0px 20px;

}


.light-panel h2, .light-panel2 h2{
    padding: 8px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #AFFDAF;
    text-shadow: 2px 2px  #425F42;
    margin-bottom: 0px;
}

.light-panel h3 {
    padding:0px;
    margin-top: 3px;
}


/*dark panel has curved edges at the top/ for placement on right side of screen */

/* left and right screen panels*/
.sides {
    display: flex;
    padding: 0px;
    margin: 0px;


}
/* left and screen panels*/
.left-side{
    position: relative;
    width: 100%;
    

}

/*paragrah text styles  */


.light-panel p, .light-panel2 p {
    padding: 0px 15px 5px;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 24px;
    color:  #293a29;
    padding: 8px;
    margin: 0px;
}


/*dark panel has curved edges at the bottom for footer use only */
body .dark-panel2{
    background-color: #737373;
    margin-top: -12px;
    border-radius: 0px 0px 20px 20px;
    width: 950px;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    
}

/* icons in footer */
body .dark-panel2 img{
    width: 50px;
    height: 50px;
}


/*article styles , */

main article {
    display: block;  
    text-align: center;
}

main article header{
    width: 100%;
   
/*article styles - feature article, */
}
.feature-article header ul{
   display: flex;
   text-align: right;
   list-style: none;
    justify-content: flex-end;
}

/* article styles - feature article,  li is the tags in the header*/ 

.feature-article header li {
    width: 80px;
    height: 15px;
    border: 1px solid black ;
    padding: 3px;
    margin: 5px;
    background-color: #F0EFEC;
    border-radius: 10px;
    font-size: 10px;
    position: relative;
    text-align: center;
 }

/* article styles - feature article, */

.feature-blog h3{
    color: #AFFDAF;
    text-shadow: 2px 2px  #425F42;
    font-size: 36px;
    font-family: 'Gaegu', cursive;
    margin-left: 20px;
    padding: 0px;
    margin: 0px;

}
.feature-blog h4{
    color: #425F42;
    font-size: 36px;
    font-family: 'Gaegu', cursive;
    margin-left: 20px;
    padding: 0px;
    margin: 0px;

}


.feature-article hr {
    padding: 0px;
    margin: 0px;
}
.feature-article header p{
    color: #172B65;

}


/* article styles - author info, */

.author-info{
    display: flex;
    text-align: left;
    margin-left: 20px;
}
.author-info p {
    padding: 0px;
    padding-left: 10px;
}


/* article styles - feature image, */

.feature-article img {
    width: 500px;
    height: 300px;
    padding-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 0px;
}


.feature-img P {
padding: 0px;
margin: 0px;
text-align: left;
margin-left: 10%;
padding-left:5px;
}


/* article styles - feature content, */

.feature-content p {
    text-align: center;
    text-indent: 4%;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin: 0px;
}


.footnote {
    color: white;
}

.feature-tags {
    margin-bottom: 0px;
    padding: 0px;
    margin: 0px;
}



 /* article styles - tertiary articles section, */

 .tertiary-article {
     display: flex;
 }

 .tertiary-article img {
    width: 75px;
    height: 75px;
    padding-top: 2px;
}

.tertiary-article h3{
    margin: 0px;
    margin-left: 10px;
    position: relative;
    text-align: left;
    padding-bottom: 4px;
}
.tertiary-article p{
    margin: 0px;
    position: relative;
    text-align: left;
    padding-bottom: 4px;
    
}

.light-panel ul {
    list-style: none;
}
.tertiary-article footer ul {
    display: flex;
    list-style: none;
    padding: 30px, 5px;
}

.tertiary-article footer li {
    width: 80px;
    height: 15px;
    border: 1px solid black ;
    padding: 1px;
    margin: 4px;
    background-color: #F0EFEC;
    border-radius: 10px;
    font-size: 10px;
    position: relative;
    text-align: center;
    }

    

 /* style for right panel*/
 
 .right-side{
     background-color:#737373;
     min-width: 300px;
     color: #F0EFEC; 
     border-radius: 20px 20px 0px 0;
    
     margin-top: 20px;
     margin-bottom: 10px;
    padding:10px;
    text-align: center;
        
    }
    .music-card{
        text-align: center;
    }
 

 .music-card img {
     width: 200px;
     height: 200px;
     padding: 10px;
 }

 .signup-card {
     
 }