html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #545454;
    min-width: 800px;
    align-content: center;
    
  
}

body {
    width: 100%;

}

.banner-image{
    position: relative;
    justify-content: center;
    transform: translate(20px);
    padding-left: 20px;
    height: 180px;
    max-width: 1000px;
    min-width: 900px;
    overflow: visible;
    background: url(images/banner.png) repeat center;
    background-size: contain;
    background-color: #737373;
    margin-left: 10%;
}
main{
    background-color:#545454;
    padding: 0px 20px;
    margin-top: -20px;
    
}

header nav {
    position: absolute;
    bottom: -35px; 
    left: 8%;

}
head {
    background-color: #535353;
    margin-bottom: -20px;


}

header nav a  {
    width: 70px;
    display: inline-block;
    margin: 5% 2px;
    padding: 10px 3px;
    padding-bottom: 1px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color:  #F0EFEC;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: #D2691E;
    border-radius: 20px 20px 0px 0;

}
header nav a:hover{
    background-color: #F0EFEC;
    color: #545454;
}


.article-link:hover {
    background-color: #fdfdaf;
    color: #545454;
}

.blog-link:hover {
    background-color: #9696fd;
    color: #545454;
}

.music-link:hover {
    background-color: #BF4F49;
}

.connect-link:hover {
    background-color: #D2691E;
    color: #545454;
}




/*light panel has curved edges at the top/ for placement on left side of screen */
body main .light-panel  {
    background-color: #D2691E;
    width: 650px;
    color: #F0EFEC; 
    border-radius: 20px 20px 0px 0;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;

}


/*light panel has flat edges at the top/ for placement on left side of screen */

body main .light-panel2  {
    background-color: #a6a6a6;
    color: #292929;
    margin-top: -10px;
    padding: 0px 20px;
    

}


.light-panel h2, .light-panel2 h2{
    padding: 8px;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    color: #F0EFEC;
    text-shadow: 2px 2px #49B9BF;
    margin-bottom: 0px;
}

.light-panel h3 {
    padding:0px;
    margin-top: 3px;
}


/*dark panel has curved edges at the top/ for placement on right side of screen */

/* left and right screen panels*/
.sides {
    display: flex;
    padding: 0px;
    margin: 0px;


}
/* left and screen panels*/
.left-side{
    position: relative;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;

}

/*paragrah text styles  */


p {
    padding: 0px 15px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}


/*dark panel has curved edges at the bottom for footer use only */
body .dark-panel2{
    background-color: #737373;
    margin-top: -12px;
    border-radius: 0px 0px 20px 20px;
    width: 1000px;
    margin-left: 10%;
display: flex;
justify-content: center;
    
}

/* icons in footer */
body .dark-panel2 img{
width: 50px;
}

/* style for left panel*/
.message {
    margin-left: 30px;
}

/* styles for leave a message section*/
.message-sec {
    margin-left: 8%;
}

.name-field
{
    width: 250px;
}

.email-field {
    width: 350px;
}

.message-box {
    height: 100px;
    
}
/* styles for leave a services section*/
.service-section{
    justify-content: left;
    text-align: left;
    margin-left: 0px;
}
ul {
    transform: translate(-15px);
}
ul ul {
    display: flex;
    text-align: left;
}
ul ul li {
    padding: 5px;
    margin-left: 20px;
    font-family: 'JetBrains Mono', monospace;
}

/* style for more music panel*/


 
 /* style for right panel*/
 
 .right-side{
     background-color:#737373;
     min-width: 325x;
     width: 350px;
     color: #F0EFEC; 
     border-radius: 20px 20px 0px 0;
     margin-top: 20px;
     margin-bottom: 10px;
     text-align: center;
        
    
        
    }
 

 .blog-card img {
     width: 200px;
     height: 200px;
     padding: 10px;
 }

 .signup-card {
     
 }

 .light-panel a {
    text-decoration: none;
 }

