body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #545454;
    min-width: 800px;
    
    letter-spacing: 1px;
}
body {
    width: 80%;
    
    margin-left: 100px;
}

.banner-image{
    position: relative;
    justify-content: center;
    transform: translate(20px);
    padding-left: 20px;
    height: 180px;
    max-width: 1000px;
    overflow: visible;
    background: url(images/banner.png) repeat center;
    background-size: contain;
    background-color: #737373;
    
}
main{
    background-color:#545454;
    padding: 0px 20px;
    margin-top: -20px;
}

header nav {
    position: absolute;
    bottom: -35px; 
    left: 8%;

}
head {
    background-color: #535353;
    margin-bottom: -20px;


}


/* nav bar colors */
header nav a  {
    width: 70px;
    display: inline-block;
    margin: 5% 2px;
    padding: 10px 3px;
    padding-bottom: 1px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: #A6A6A6;
    border-radius: 20px 20px 0px 0;

}
header nav a:hover{
    background-color: #F0EFEC;
}


.article-link:hover {
    background-color: #fdfdaf;
}

.blog-link:hover {
    background-color: #9696fd;
}

.music-link:hover {
    background-color: #BF4F49;
}

.connect-link:hover {
    background-color: #D2691E
}


/* end of nav bar styles*/

body main .light-panel  {
    background-color: #a6a6a6;
    color: #292929; 
    border-radius: 20px 20px 0px 0;

}
body main .light-panel2  {
    background-color: #a6a6a6;
    color: #292929;
    margin-top: -16px;
    padding: 0px 20px;

}

.light-panel h2, .light-panel2 h2{
    padding: 10px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    color: #E8E8AC;
    text-shadow: 2px 2px #B7B859;
}

.dark-panel h2 {
    padding: 10px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    color: #E8E8AC;
    text-shadow: 2px 2px  #B7B859;
}

h3 {
    font-family: 'Redressed', cursive;
}

.light-panel p, .light-panel2 p {
    padding: 0px 15px 15px;  
    
    font-family: 'Kufam', cursive;
    font-size: 16px;
    color: #3B3B2A;
}

body main .dark-panel{
    background-color: #737373;
    margin-top: -16px;
    color: #F0EFEC;
}

.dark-panel p {
    padding: 0px 15px 15px;  
    font-family: 'Cinzel', serif;
   font-size: 16px;

}

body .dark-panel2{
    background-color: #737373;
    margin-top: -12px;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    
display: flex;
justify-content: center;
    
}
body .dark-panel2 img{
width: 50px;
height: 50px;

}

main nav {
    position: relative;
    display: flex; 
    justify-content: right;   
}

main nav a img {
    width: 100%;
}

main article {
    display: flex;
}

main article section{
    display: block;
    justify-content: center;
    width:500px;
}

main article header img{
    width: 200px;
    height: 200px;
}

.music-container
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 200px;
    display: block;
    position: relative;
    background-image: linear-gradient(#737373, #700000);
    border-radius: 20px 20px 20px 20px;
    color: #F0EFEC;
}

.music-header {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #555;

}

.music-header .title{
    width: 200px;
    height:30px;
    margin-top: 10px;
    margin-left: 20%;
    color: #F0EFEC;
}

.music-box {
    width: 100%;
    height: 90px;
    display: flex;
    overflow:visible;
    overflow-x: hidden;
}

.music-info {
    width: 100%;
    height: 50px;
    display: block;
}

.music-img {
    width: 50px;
    height: 50px;
    display: flex;
}
.music-img img {
    width: 40px;
    height: 40px;
    margin: 2px 3px;
    padding: 1px;
}

.music-info h6 {
    width: 300px;
    padding: 0px 2px;
    height: 1px;

}

.music-name h6{
    margin-top: 7px;
    font-size: 15px;
}
.music-name p{
    margin-top: 7px;
    width: 500px;
    font-size: 10px;
    transform: translate(-8px);
    display: flex;
}
.music-play {
    
    background-image: linear-gradient(#000000, #700000);
    width:100%;
    height:80px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
}

.music-play img {
    width: 40px;
    height: 40px;
    padding: 1px;
}

.controls{
    width:285px;
    height:50px;
    display: flex;
}
.song-name h5{
    margin-top:10px; 
    margin-bottom: 3px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 6px;
    padding: 0px;
}
.song-name p {
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 0px;

}

.play-icon {
    width:80px;
    height: 50px;
}
.play-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
}
.pressplay {
    cursor: pointer;
}
audio {
    height: 20px;
    width: 180px;
    transform: translate(-30px, 4px);
    
}



/* card styles - feature article,  li is the tags in the header*/ 

.card {
     
    width: 320px;
    justify-content: center;
    padding: 3%;

}
.card p { 

    margin-left:0px ;
    padding: 2px;
    
}

.blog-card {
    text-align: center;
    width: 320px;
    justify-content: center;
    padding: 3%; 
    background-color: #9696fd;
}

.blog-card h3 {
    color:  #425F42;
    
    font-family: 'Gaegu', cursive;
}

.blog-card h4 {
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    color: #AFFDAF;
    text-shadow: 2px 2px  #425F42;
}


.blog-card p {
    
    font-family: 'East Sea Dokdo', cursive;
    font-size: 24px;
    text-align: center;
    color: #162016;
    text-indent: 20px;
}

.news-card {
    width: 320px;
    justify-content: center;
    padding: 3%; 
    background-color: #EDEDA9;
    text-align: center;
}

.news-card h3 {
    color: #555576;
}

.news-card p {
    color: #2A2A3B;
    text-indent: 20px;
    text-align: left;
}

.news-card h4 {
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    color: #A9A9ED;
    text-shadow: 2px 2px  #425F42;

}

.music-card {
    width: 320px;
    justify-content: center;
    padding: 3%; 
    background-color: #BF4F49;
    text-align: center;
}

.music-card h4 {
    font-family: 'Acme', sans-serif;
    letter-spacing: 1px;
    color: #E8F6F7;
    text-shadow: 2px 2px  #292929;
}


.music-card h3 {
    color: #F0EFEC;
}

.music-card p{
    color: #D2EDEF;
    text-indent: 20px;
    text-align: left;
}


.footnote {
    color:white;
}
